.pagination
    ul.pagination__list.unstyled-list
        li.pagination__item
            a.pagination__link.pagination__link--pn(href='') Передыдущая страница
        li.pagination__item
            a.pagination__link(href='') 1
        li.pagination__item
            a.pagination__link(href='') 2
        li.pagination__item
            a.pagination__link(href='') 3
        li.pagination__item.active
            a.pagination__link(href='') 4
        li.pagination__item
            a.pagination__link(href='') ...
        li.pagination__item
            a.pagination__link.pagination__link--pn(href='') Следующая страница

