/*Переменные настройки*/
* {
  box-sizing: border-box;
  inline-box-align: align-content;
}
/*Стилизация placeholder*/
input::-webkit-input-placeholder {
  color: #888 !important;
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease;
}
input::-moz-placeholder {
  color: #888 !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-moz-placeholder {
  color: #888 !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder {
  color: #888 !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
/*Скрытие текста*/
.replace-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
a {
  color: #739ac5;
}
a:hover,
a:visited {
  text-decoration: none;
}
/*иконки*/
.s-icon {
  display: inline-block;
  background: url("../img/bg/sprite.png") no-repeat;
}
.bs-icon:before {
  content: '';
  display: inline-block;
  background: url("../img/bg/sprite.png") no-repeat;
}
.as-icon:after {
  content: '';
  display: inline-block;
  background: url("../img/bg/sprite.png") no-repeat;
}
.s-icon--velcom {
  background-position: -197px 0px;
  width: 15px;
  height: 15px;
}
.s-icon--mts {
  background-position: -145px -143px;
  width: 15px;
  height: 15px;
}
.s-icon--life {
  background-position: -197px -15px;
  width: 15px;
  height: 15px;
}
.s-icon--phone {
  background-position: -197px -60px;
  width: 15px;
  height: 14px;
}
.s-icon--mail {
  background-position: -109px -88px;
  width: 16px;
  height: 11px;
}
.s-icon--skype {
  background-position: -197px -30px;
  width: 15px;
  height: 15px;
}
.s-icon--pstar {
  background-position: -197px -88px;
  width: 13px;
  height: 14px;
}
.s-icon--nstar {
  background-position: -197px -74px;
  width: 13px;
  height: 14px;
}
.s-icon--blabel {
  background-position: 0px 0px;
  width: 128px;
  height: 28px;
}
.s-icon--glabel {
  background-position: 0px -72px;
  width: 109px;
  height: 28px;
}
.s-icon--rlabel {
  background-position: 0px -100px;
  width: 87px;
  height: 28px;
}
.s-icon--ctrll {
  background-position: -197px -118px;
  width: 9px;
  height: 16px;
}
.s-icon--ctrlr {
  background-position: -197px -102px;
  width: 9px;
  height: 16px;
}
.s-icon--question {
  background-position: -110px -28px;
  width: 17px;
  height: 17px;
}
.s-icon--plus {
  background-position: -197px -45px;
  width: 15px;
  height: 15px;
}
.s-icon--minus {
  background-position: -145px -128px;
  width: 15px;
  height: 15px;
}
.s-icon--delete {
  background-position: -168px -55px;
  width: 24px;
  height: 24px;
}
.s-icon--search {
  background-position: -168px -30px;
  width: 27px;
  height: 25px;
}
.s-icon--crossg {
  background-position: -197px -143px;
  width: 9px;
  height: 9px;
}
.s-icon--fb {
  background-position: -128px -80px;
  width: 40px;
  height: 40px;
}
.s-icon--vk {
  background-position: -128px 0px;
  width: 40px;
  height: 40px;
}
.s-icon--tw {
  background-position: -128px -40px;
  width: 40px;
  height: 40px;
}
.s-icon--od {
  background-position: -70px -28px;
  width: 40px;
  height: 40px;
}
.s-icon--gp {
  background-position: 0px -128px;
  width: 40px;
  height: 40px;
}
.bs-icon--cart:before {
  background-position: 0px -28px;
  width: 70px;
  height: 44px;
}
.bs-icon--home:before {
  background-position: -168px -102px;
  width: 21px;
  height: 21px;
}
.bs-icon--instock:before {
  background-position: -197px -169px;
  width: 8px;
  height: 8px;
}
.bs-icon--outstock:before {
  background-position: -197px -161px;
  width: 8px;
  height: 8px;
}
.bs-icon--addcart:before {
  background-position: -87px -100px;
  width: 33px;
  height: 25px;
}
.bs-icon--click:before {
  background-position: 0px -168px;
  width: 31px;
  height: 25px;
}
.bs-icon--calendar:before {
  background-position: -109px -72px;
  width: 16px;
  height: 16px;
}
.bs-icon--delivery:before {
  background-position: -110px -128px;
  width: 35px;
  height: 35px;
}
.bs-icon--garanty:before {
  background-position: -75px -128px;
  width: 35px;
  height: 35px;
}
.bs-icon--service:before {
  background-position: -40px -128px;
  width: 35px;
  height: 35px;
}
.bs-icon--login:before {
  background-position: -168px -79px;
  width: 23px;
  height: 23px;
}
.bs-icon--exit:before {
  background-position: -168px -143px;
  width: 15px;
  height: 20px;
}
.as-icon--toggle:after {
  background-position: -168px 0px;
  width: 29px;
  height: 30px;
}
.as-icon--close:after {
  background-position: -168px -123px;
  width: 20px;
  height: 20px;
}
.as-icon--file:after {
  background-position: -110px -45px;
  width: 16px;
  height: 16px;
}
/*Футер к низу страницы*/
html,
body {
  height: 100%;
  color: #555;
  font: normal 14px 'Open Sans', sans-serif;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -380px;
}
.footer-push {
  height: 380px;
}
.footer {
  height: 380px;
}
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.container--white {
  background: #fff;
}
.wrapper {
  min-width: 1280px;
  overflow: hidden;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.js-tabs__content {
  display: none;
}
.js-tabs__content.active {
  display: block;
}
table {
  width: 100%;
}
tr {
  background: #f3f3f3;
}
tr:nth-child(2n) {
  background: #fff;
}
td {
  padding: 4px;
}
input.error,
textarea.error {
  border-color: #f00;
  outline: none;
}
label.error {
  color: #f00;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.man-bg {
  background: url("../img/bg/man-bg.png") no-repeat right center;
}
