@import '/mixins/mixins'
@import '/mixins/sprite'

/*Переменные настройки*/
headerHeight = auto
footerHeight = 380px
placeholderColor = #000
containerWidth = 1280px


*
  box-sizing border-box
  inline-box-align align-content

/*Стилизация placeholder*/
input
  placeholder(#888888)

/*Скрытие текста*/
.replace-text
  text-hide()
a
  color #739ac5
  &:hover
  &:visited
    text-decoration none
/*иконки*/
.s-icon
  display inline-block
  background url("../img/bg/sprite.png") no-repeat
.bs-icon
  &:before
    content ''
    display inline-block
    background url("../img/bg/sprite.png") no-repeat
.as-icon
  &:after
    content ''
    display inline-block
    background url("../img/bg/sprite.png") no-repeat
.s-icon--velcom
  sprite($s-velcom)
.s-icon--mts
  sprite($s-mts)
.s-icon--life
  sprite($s-life)
.s-icon--phone
  sprite($s-phone)
.s-icon--mail
  sprite($s-mail)
.s-icon--skype
  sprite($s-skype)
.s-icon--pstar
  sprite($s-pstar)
.s-icon--nstar
  sprite($s-nstar)
.s-icon--blabel
  sprite($s-blabel)
.s-icon--glabel
  sprite($s-glabel)
.s-icon--rlabel
  sprite($s-rlabel)
.s-icon--ctrll
  sprite($s-ctrll)
.s-icon--ctrlr
  sprite($s-ctrlr)
.s-icon--question
  sprite($s-question)
.s-icon--plus
  sprite($s-plus)
.s-icon--minus
  sprite($s-minus)
.s-icon--delete
  sprite($s-delete)
.s-icon--search
  sprite($s-search)
.s-icon--crossg
  sprite($s-crossg)

.s-icon--fb
  sprite($s-fb)
.s-icon--vk
  sprite($s-vk)
.s-icon--tw
  sprite($s-tw)
.s-icon--od
  sprite($s-od)
.s-icon--gp
  sprite($s-gp)
.bs-icon--cart
  &:before
    sprite($s-cart)
.bs-icon--home
  &:before
    sprite($s-home)
.bs-icon--instock
  &:before
    sprite($s-instock)
.bs-icon--outstock
  &:before
    sprite($s-outstock)
.bs-icon--addcart
  &:before
    sprite($s-addcart)
.bs-icon--click
  &:before
    sprite($s-click)
.bs-icon--calendar
  &:before
    sprite($s-calendar)
.bs-icon--delivery
  &:before
    sprite($s-delivery)
.bs-icon--garanty
  &:before
    sprite($s-garanty)
.bs-icon--service
  &:before
    sprite($s-service)
.bs-icon--login
  &:before
    sprite($s-login)
.bs-icon--exit
  &:before
    sprite($s-exit)
.as-icon--toggle
  &:after
    sprite($s-toggle)
.as-icon--close
  &:after
    sprite($s-close)
.as-icon--file
  &:after
    sprite($s-file)
/*Футер к низу страницы*/
html
body
  height 100%
  color #555
  font normal 14px 'Open Sans', sans-serif
.wrapper
  min-height: 100%
  height auto !important
  height 100%
  margin 0 auto - footerHeight
.footer-push
  height footerHeight
.footer
  height footerHeight
.container
  position relative
  width containerWidth
  margin 0 auto
  padding 0 20px
.container--white
  background #ffffff
.wrapper
  min-width containerWidth
  overflow hidden
.f-left
  float left
.f-right
  float right
.t-center
  text-align center
.t-right
  text-align right
.unstyled-list
  margin 0
  padding 0
  list-style none
.clearfix
  clearfix()


.js-tabs__content
  display none
  &.active
    display block

table
 width 100%
tr
  background #f3f3f3
  &:nth-child(2n)
    background #fff
td
  padding 4px

input.error
textarea.error
  border-color red
  outline none
label.error
  color #ff0000

.fixed
  width 100%
  position fixed
  top 0
  z-index 2
  box-shadow 0 0 10px rgba(0,0,0,0.5)

.man-bg
  background url("../img/bg/man-bg.png") no-repeat right center

