extends ./layout.jade
block main
    section.page
        .container
            .page__one-column.page__static
                .page__wrap
                    .page__heading
                        h1.page__title Купить душевую кабинку со скидкой на распрадаже
                            span.page__title.page__title--blue Скидка 30%
                        .page__subtitle.bs-icon.bs-icon--calendar Срок проведения акции:
                            span.page__subtitle.page__subtitle--blue до 12.08.2015


