extends ./layout.jade
block main
    section.page
        .container.container--white
            .page__one-column.page--static
                .action
                    .page__heading
                        h1.page__title.clearfix Акции
                            a.back-lnk.f-right(href='./catalog.html') &larr; Вернуться к покупкам
                    .action__wrap.clearfix
                        for item in [1,2,3,4,5,6,7,8,9,10,11,12]
                            .action__item.f-left
                                .action__prewview
                                    .action__img-wrap
                                        a(href='./actionpage.html')
                                            img.action__img(src='./img/action/action-thumb.jpg')
                                    a.action__lnk(href='./actionpage.html') Купить душевую кабину со скидкой на распродаже!
                                    .action__bar.clearfix
                                        .action__discont.f-left Скидка 30%
                                        .action__date.bs-icon.bs-icon--calendar.f-right 12.08.2015
