extends ./layout.jade
block main
    section.page
        .container
            .page__two-columns.clearfix
                .breadcrumbs
                    ul.breadcrumbs__list.unstyled-list
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/') Главная
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/')  Климатическая техника
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            span.breadcrumbs__lnk.breadcrumbs__lnk--active  Охладители
                aside.page__aside.f-left
                    .page__aside-item
                        .cat-menu
                            h3.cat-menu__heading.as-icon.as-icon--toggle Служба мастеров
                            .filter
                                .filter__item
                                    h5.filter__label Производитель
                                    .filter__wrap
                                        .filter__select-wrap
                                            .filter__select-item
                                                select.filter__select.js-select(name='')
                                                    option(value="1") Любой
                                                    option(value="2") Grado
                                                    option(value="3") Akvali
                                                    option(value="4") Radawei
                                                    option(value="2") Grado
                                                    option(value="3") Akvali
                                                    option(value="4") Radawei
                                                    option(value="2") Grado
                                                    option(value="3") Akvali
                                                    option(value="4") Radawei
                                .filter__item
                                    h5.filter__label Производитель:
                            h3.cat-menu__heading Служба мастеров
                            .filter
                                .filter__wrap
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                            h3.cat-menu__heading Служба мастеров
                            .filter
                                .filter__wrap
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                            h3.cat-menu__heading Служба мастеров
                            .filter
                                .filter__wrap
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .pseudo-check.filter__check
                                        input#compare1.pseudo-check__input(type='checkbox')
                                        label.pseudo-check__label.filter__check-label(for='compare1') Услуга 1
                                            .pseudo-check__bg.pseudo-check__bg--big
                .page__content.page__content--right.f-right
                    .master
                        .masters-page__bar.clearfix
                            .masters-page__search-wrap.f-left
                                input.masters-page__search(type='text', placeholder='поиск мастера')
                                input.masters-page__search-submit(type='submit')
                            .masters-page__add-wrap.f-right
                                a.addmaster-btn(href='#') Добавить мастера
                        .master__wrap.clearfix
                            aside.master__aside.f-left
                                .master__aside-item
                                    .master__ava-wrap
                                        img.master__ava(src='./img/masters/master-ava.jpg')
                                .master__aside-item
                                    a.request-btn(href='#') Оставить заявку
                            .master__content.f-right
                                h1.master__title.clearfix Иванов Иван Иванович
                                    span.master__address.f-right(href='#') Минск (Центральный р-н)
                                .meta-bar.master__bar.clearfix
                                    .meta-bar-item.f-left
                                        .meta-bar__meta
                                            .meta-bar__meta-item
                                                .rating
                                                    i.rating__star.s-icon.s-icon--pstar
                                                    i.rating__star.s-icon.s-icon--pstar
                                                    i.rating__star.s-icon.s-icon--pstar
                                                    i.rating__star.s-icon.s-icon--pstar
                                                    i.rating__star.s-icon.s-icon--nstar
                                    .meta-bar__bar-item.f-right
                                        .review-bar
                                            .review-bar__item
                                                a.review-lnk(href='#') 25 отзывов
                                            .review-bar__item
                                                a.review-btn(href='#') Оставить отзыв
                                .master__desc Описание своих преимуществ перед другими исполнителями. Квалифицированный специалист по сантехническим работам. Мастер выполнит все необходимые работы в точно оговоренные сроки и по низким ценам. Для пенсионеров и многодетных семей действуют скидки. На все виды произведенных работ предоставляется гарантия.
                                .master__phone
                                    span.master__phone-item Телефоны:
                                    span.master__phone-item +375 (29) 127-86-98
                                    span.master__phone-item +375 (44) 127-86-98
                                .master__service
                                    h5.master__service-title Услуги:
                                    .master__service-wrap
                                        for item in [1,2,3,4,5,6,7,8,9]
                                            .master__service-item
                                                a(href='#') Установка душевых кабин
                                        .master__service-item
                                            a(href='#').readmore Показать ещё
                        .master__detail
                            .js-tabs
                                .modal__bar.clearfix
                                    a.modal__btn.js-tabs__tab.f-left.active(href='#', data-index='0') Портфолио
                                    a.modal__btn.js-tabs__tab.f-left(href='#', data-index='1') Отзывы
                                    a.modal__btn.js-tabs__tab.f-left(href='#', data-index='2') Видео
                                .js-tabs__wrap
                                    .js-tabs__content.active
                                        .portfolio
                                            .portfolio__bar
                                                .portfolio__sort-item Установка душевых кабин
                                                .portfolio__sort-item Установка биде
                                                .portfolio__sort-item Ремонт кабин
                                                .portfolio__sort-item Установка труб
                                                .portfolio__sort-item Установка раковин
                                            .portfolio__wrap.clearfix
                                                for item in [1,2,3,4,5,6,7,8,9,10]
                                                    .portfolio__item.f-left
                                                        a(href='#')
                                                            img.portfolio__thumb(src='./img/portfolio/port1.jpg')