extends ./layout.jade
block main
    section.page
        .container.container--white
            .page__two-columns.clearfix
                .breadcrumbs
                    ul.breadcrumbs__list.unstyled-list
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/') Главная
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/')  Климатическая техника
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            span.breadcrumbs__lnk.breadcrumbs__lnk--active  Охладители
                aside.page__aside.f-left
                    .page__aside-item
                        .cat-menu.js-toggle
                            h3.cat-menu__heading.as-icon.as-icon--toggle.active.js-toggle__trigger Служба мастеров
                            .js-toggle__item
                                .filter
                                    .filter__item
                                        h5.filter__label Производитель
                                        .filter__wrap
                                            .filter__select-wrap
                                                .filter__select-item
                                                    select.filter__select.js-select(name='')
                                                        option(value="1") Любой
                                                        option(value="2") Grado
                                                        option(value="3") Akvali
                                                        option(value="4") Radawei
                                                        option(value="2") Grado
                                                        option(value="3") Akvali
                                                        option(value="4") Radawei
                                                        option(value="2") Grado
                                                        option(value="3") Akvali
                                                        option(value="4") Radawei
                                         h5.filter__sub-title ВЫБЕРИТЕ УСЛУГУ:
                                .js-toggle
                                    h3.cat-menu__heading.js-toggle__trigger Сантехнические работы
                                    .filter.js-toggle__item
                                        .filter__wrap
                                            for item in [1,2,3,4]
                                                .pseudo-check.filter__check
                                                    input.pseudo-check__input(type='checkbox',id='sant'+item)
                                                    label.pseudo-check__label.filter__check-label(for='sant'+item) Установка душевых кабин
                                                        .pseudo-check__bg.pseudo-check__bg--big

                                .js-toggle
                                    h3.cat-menu__heading.js-toggle__trigger Водоснобжение
                                    .filter.js-toggle__item
                                        .filter__wrap
                                            for item in [1,2,3,4]
                                                .pseudo-check.filter__check
                                                    input.pseudo-check__input(type='checkbox',id='water'+item)
                                                    label.pseudo-check__label.filter__check-label(for='water'+item) Установка душевых кабин
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                .js-toggle
                                    h3.cat-menu__heading.js-toggle__trigger Очистка воды
                                    .filter.js-toggle__item
                                        .filter__wrap
                                            for item in [1,2,3,4]
                                                .pseudo-check.filter__check
                                                    input.pseudo-check__input(type='checkbox',id='clean'+item)
                                                    label.pseudo-check__label.filter__check-label(for='clean'+item) Установка душевых кабин
                                                        .pseudo-check__bg.pseudo-check__bg--big
                .page__content.page__content--right.f-right
                    .masters-page
                        .masters-page__bar.clearfix
                            .masters-page__search-wrap.f-left
                                input.masters-page__search(type='text', placeholder='поиск мастера')
                                input.masters-page__search-submit.s-icon.s-icon--search(type='submit')
                                a.masters-page__search-delete.s-icon.s-icon--crossg(href='#')
                            .masters-page__add-wrap.f-right
                                a.addmaster-btn(href='#') Добавить мастера
                        .sort-bar
                            .sort-bar__wrap.sort-bar__wrap--noborder
                                .sort-bar__item
                                    span.sort-bar__label Сортировать:
                                    a.sort-bar__btn.active(href='#') По цене
                                    a.sort-bar__btn(href='#') По популярности
                                    a.sort-bar__btn(href='#') По отзывам
                        .masters-page__wrap.clearfix
                            for item in [1,2,3]
                                .masters-page__item
                                    .master-preview.master-preview--special
                                        h3.master-preview__title
                                            a.master-preview__title-lnk(href='#') Иванов Иван Иванович
                                        .master-preview__img-wrap
                                            img.master-preview__img(src='./img/masters/master1.jpg')
                                        .master-preview__review-bar.clearfix
                                            .product-preview__rating.f-left
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--nstar
                                            a.product-preview__review-lnk.f-right(href='#') 25 отзывов
                                        .master-preview__desc Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа системы обучения кадров, соответствует...
                                        .master-preview__btn-wrap.clearfix
                                            a.master-preview__callbtn.f-left.js-modal(href='#request-modal') Оставить заявку
                                            a.master-preview__readmore.f-right(href='#') Подробнее
                            for item in [1,2,3,4,5,6,7,8,9]
                                .masters-page__item
                                    .master-preview
                                        h3.master-preview__title
                                            a.master-preview__title-lnk(href='#') Иванов Иван Иванович
                                        .master-preview__img-wrap
                                            img.master-preview__img(src='./img/masters/master1.jpg')
                                        .master-preview__review-bar.clearfix
                                            .product-preview__rating.f-left
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--pstar
                                                i.product-star.s-icon.s-icon--nstar
                                            a.product-preview__review-lnk.f-right(href='#') 25 отзывов
                                        .master-preview__desc Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа системы обучения кадров, соответствует...
                                        .master-preview__btn-wrap.clearfix
                                            a.master-preview__callbtn.f-left.js-modal(href='#request-modal') Оставить заявку
                                            a.master-preview__readmore.f-right(href='#') Подробнее
                            #request-modal.modal
                                .modal__wrap
                                    .modal__close.as-icon.as-icon--close.js-modal__close Закрыть
                                    .modal__bar.clearfix
                                        span.modal__btn.active.f-left Оставит заявку
                                    .wform.wform--request
                                        form#request-form
                                            .wform__group Заказы обрабатываются ежедневно с 9.00 до 21.00
                                            .wform__group
                                                label.wform__label Вопрос:
                                                textarea.wform__textarea(placeholder='Пример текста...', name='question')
                                                .wform__notice Опишите вашу задачу, укажите примерный бюджет заказа
                                            .wform__group
                                                .wform__wrap.clearfix
                                                    .wform__part.f-left
                                                        label.wform__upload-label.wform__upload-label--file.as-icon.as-icon--file(for='upload') Прикрепить файл
                                                        input#upload.wform__upload(type='file')
                                            .wform__group
                                                .wform__wrap.clearfix
                                                    .wform__part.f-left
                                                        .wform__group
                                                            label.wform__label * Ваше имя:
                                                            input.wform__input(type='text', placeholder='Пароль', name='name')
                                                        .wform__group
                                                            label.wform__label *Ваш e-mail:
                                                            input.wform__input(type='text', placeholder='goroddushevihkabin@gmail.com')
                                                    .wform__part.f-right
                                                        .wform__group
                                                            label.wform__label *Ваш номер телефона:
                                                            input.wform__input(type='text', placeholder='+375 28 895-39-12', name='phone')
                                                        .wform__group
                                                            label.wform__label Город:
                                                            input.wform__input(type='text', placeholder='Минск', name='city')
                                            .wform__group
                                                .wform__wrap.clearfix
                                                    .wform__part.f-left
                                                        .wform__notice.t-right Оставте заявку и наши специалисты ответят Вам в ближайшее время
                                                    .wform__part.f-right
                                                        input.wform__submit(type='submit', value='Оставить заявку')
                        include ./include/pagination.jade

