extends ./layout.jade
block main
    section.page
        .container
            .page__one-column.page__static
                .page__wrap
                    .page__heading
                        h1.page__title НАИМЕНОВАНИЕ СТРАНИЦЫ НОВОВСТИ
                            .color-label.color-label--pink Новости
                        .page__subtitle Дата размещения: 12.08.2015

