extends ./layout.jade
block main
    section.page
        .container.container--white
            .page__one-column.page--static
                .page__wrap
                    .page__heading
                        h1.page__title Текстовая страница