extends ./layout.jade
block main
    section.page
        .container.container--white
            .page__one-column.page--static
                .page__wrap
                    .page__heading
                        h1.page__title Текстовая страница
                    .page__content
                        .photo-gallery.js-tabs
                            h5.photo-gallery__title Фотогалерея
                            .photo-gallery__wrap
                                .photo-gallery__img-wrap.js-tabs__content.active
                                    a.js-lightbox(href='./img/gallery/photo1.jpg')
                                        img.photo-gallery__img(src='./img/gallery/photo1.jpg')
                                .photo-gallery__img-wrap.js-tabs__content
                                    a.js-lightbox(href='./img/product/product1.jpg')
                                        img.photo-gallery__img(src='./img/product/product1.jpg')
                                .photo-gallery__img-wrap.js-tabs__content
                                    a.js-lightbox(href='./img/gallery/photo1.jpg')
                                        img.photo-gallery__img(src='./img/gallery/photo1.jpg')
                                .photo-gallery__img-wrap.js-tabs__content
                                    a.js-lightbox(href='./img/product/product1.jpg')
                                        img.photo-gallery__img(src='./img/product/product1.jpg')
                                .photo-gallery__img-wrap.js-tabs__content
                                    a.js-lightbox(href='./img/gallery/photo1.jpg')
                                        img.photo-gallery__img(src='./img/gallery/photo1.jpg')
                            .photo-gallery__thumb-wrap
                                .photo-gallery__thumb.js-tabs__tab(data-index='0')
                                    img.photo-gallery__thumb-img(src='./img/gallery/photo1.jpg')
                                .photo-gallery__thumb.js-tabs__tab(data-index='1')
                                    img.photo-gallery__thumb-img(src='./img/product/product1.jpg')
                                .photo-gallery__thumb.js-tabs__tab(data-index='2')
                                    img.photo-gallery__thumb-img(src='./img/gallery/photo1.jpg')
                                .photo-gallery__thumb.js-tabs__tab(data-index='3')
                                    img.photo-gallery__thumb-img(src='./img/product/product1.jpg')
                                .photo-gallery__thumb.js-tabs__tab(data-index='4')
                                    img.photo-gallery__thumb-img(src='./img/gallery/photo1.jpg')