extends ./layout2.jade
block main
    section.page.page--static
        .container.container--white
            .page__two-columns.clearfix
                aside.page__aside.f-left
                    .board-menu
                        ul.board-menu__list.unstyled-list
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Профиль
                            li.board-menu__item.active
                                a.board-menu_lnk(href='#') Услуги
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Портфолио
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Видео
                .page__content.page__content--right.f-right
                    .wform
                        form#service-form
                                .wform__wrap.js-other
                                    .wform__group.wform__group--big
                                        label.wform__label Выберите услуги, которые вы оказываете:
                                        ul.wform__check-list.unstyled-list
                                            for item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                                                li.wform__check-item.js-other__item
                                                    .pseudo-check
                                                        input.pseudo-check__input(type='checkbox', id='service'+item)
                                                        label.pseudo-check__label(for='service'+item) Наименование услуги
                                                            .pseudo-check__bg.pseudo-check__bg--big
                                    .wform__group.wform__group--bid.t-center
                                        a.wform__toggle.js-other__show(href='#', data-count='8') Другие города
                                .wform__group.wform__group--big
                                    .wform__wrap.clearfix
                                        .wform__part.f-left
                                            .wform__notice Внимание ! Все изменения появятся на сайте после проверки модератора
                                        .wform__part.f-right
                                            input.wform__submit(type='submit', value='СОХРАНИТЬ ИЗМЕНЕНИЯ')