extends ./layout2.jade
block main
    section.page.page--static
        .container
            .page__two-columns.clearfix
                aside.page__aside.f-left
                    .board-menu
                        ul.board-menu__list.unstyled-list
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Профиль
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Услуги
                            li.board-menu__item.active
                                a.board-menu_lnk(href='#') Портфолио
                            li.board-menu__item
                                a.board-menu_lnk(href='#') Видео
                .page__content.page__content--right.f-right
                    .wform
                        form#service-form
                                .wform__wrap
                                    .wform__group.wform__group--bid
                                        label.wform__label * Выберите город в котором вы работаете:
                                        ul.wform__check-list.unstyled-list
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare2.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare2') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare3.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare3') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare4.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare4') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='#compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                            li.wform__check-item
                                                .pseudo-check
                                                    input#compare1.pseudo-check__input(type='checkbox')
                                                    label.pseudo-check__label(for='compare1') Минск (Центральный р-н)
                                                        .pseudo-check__bg.pseudo-check__bg--big
                                    .wform__group.wform__group--bid.t-center
                                        a.wform__toggle(href='#') Другие города
                                .wform__group
                                    .wform__wrap.clearfix
                                        .wform__part.f-left
                                            .wform__notice Внимание ! Все изменения появятся на сайте после проверки модератора
                                        .wform__part.f-right
                                            input.wform__submit(type='submit', value='СОХРАНИТЬ ИЗМЕНЕНИЯ')