extends ./layout.jade
block main
    section.page
        .container
            .page__one-column.page__static
                .services
                    .page__heading
                        h1.page__title Услуги
                    .services__wrap
                        .services__part
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                        .services__part
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                        .services__part
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
                            .services__item
                                h3.services__title Установка сантехники
                                ul.services__list.unstyled-list
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Демонтаж унитаза
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка душевой кабины
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка ванны
                                    li.services__list-item
                                        a.services__list-lnk(href='#') Установка водосчетчика
