$s-addcart = 128px 100px -128px -100px 33px 25px 187px 155px 'sprite.png';
$s-blabel = 0px 0px 0px 0px 128px 28px 187px 155px 'sprite.png';
$s-calendar = 105px 28px -105px -28px 16px 16px 187px 155px 'sprite.png';
$s-carousel = 0px 128px 0px -128px 48px 12px 187px 155px 'sprite.png';
$s-cart = 0px 28px 0px -28px 70px 44px 187px 155px 'sprite.png';
$s-click = 87px 100px -87px -100px 31px 25px 187px 155px 'sprite.png';
$s-close = 163px 68px -163px -68px 20px 20px 187px 155px 'sprite.png';
$s-cross = 70px 63px -70px -63px 9px 9px 187px 155px 'sprite.png';
$s-crossr = 178px 125px -178px -125px 9px 9px 187px 155px 'sprite.png';
$s-ctrll = 178px 88px -178px -88px 9px 16px 187px 155px 'sprite.png';
$s-ctrlr = 118px 100px -118px -100px 9px 16px 187px 155px 'sprite.png';
$s-delete = 163px 0px -163px 0px 24px 24px 187px 155px 'sprite.png';
$s-delivery = 128px 0px -128px 0px 35px 35px 187px 155px 'sprite.png';
$s-exit = 163px 88px -163px -88px 15px 20px 187px 155px 'sprite.png';
$s-garanty = 128px 35px -128px -35px 35px 35px 187px 155px 'sprite.png';
$s-glabel = 0px 72px 0px -72px 109px 28px 187px 155px 'sprite.png';
$s-home = 163px 47px -163px -47px 21px 21px 187px 155px 'sprite.png';
$s-instock = 120px 44px -120px -44px 8px 8px 187px 155px 'sprite.png';
$s-life = 30px 140px -30px -140px 15px 15px 187px 155px 'sprite.png';
$s-login = 163px 24px -163px -24px 23px 23px 187px 155px 'sprite.png';
$s-mail = 109px 87px -109px -87px 16px 11px 187px 155px 'sprite.png';
$s-minus = 0px 140px 0px -140px 15px 15px 187px 155px 'sprite.png';
$s-mts = 15px 140px -15px -140px 15px 15px 187px 155px 'sprite.png';
$s-nstar = 60px 140px -60px -140px 13px 14px 187px 155px 'sprite.png';
$s-outstock = 79px 63px -79px -63px 8px 8px 187px 155px 'sprite.png';
$s-phone = 45px 140px -45px -140px 15px 14px 187px 155px 'sprite.png';
$s-plus = 109px 72px -109px -72px 15px 15px 187px 155px 'sprite.png';
$s-pstar = 73px 140px -73px -140px 13px 14px 187px 155px 'sprite.png';
$s-question = 163px 108px -163px -108px 17px 17px 187px 155px 'sprite.png';
$s-rlabel = 0px 100px 0px -100px 87px 28px 187px 155px 'sprite.png';
$s-service = 70px 28px -70px -28px 35px 35px 187px 155px 'sprite.png';
$s-skype = 163px 125px -163px -125px 15px 15px 187px 155px 'sprite.png';
$s-tickd = 120px 52px -120px -52px 8px 7px 187px 155px 'sprite.png';
$s-tickup = 87px 63px -87px -63px 8px 7px 187px 155px 'sprite.png';
$s-toggle = 128px 70px -128px -70px 29px 30px 187px 155px 'sprite.png';
$s-velcom = 105px 44px -105px -44px 15px 15px 187px 155px 'sprite.png';
spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)